Source: clipboard-to-file
Section: utils
Priority: extra
Standards-Version: 0.1.1
Maintainer: costales <costales.marcos@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dh-python, python3-all, python3-distutils-extra
Homepage: https://github.com/costales/clipboard-to-file

Package: clipboard-to-file
Architecture: all
Section: utils
Priority: extra
Depends: python3-nautilus, nautilus, ${python:Depends}
Description: Paste Into File
 Paste clipboard content into a file
